---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/detokenize
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","token_ids":[556,48741,247,2983,28063,301,10510,5469,17]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPHALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":" An apple a day keeps the doctor away."}'
  recorded_at: Sun, 21 May 2023 20:07:25 GMT
recorded_with: VCR 6.1.0
