---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/embed?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","prompt":"An apple a day keeps the doctor
        away.","layers":[0,1],"tokens":false,"pooling":["max"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"model_version":"2023-05","embeddings":{"layer_0":{"max":[0.037841797,0.018310547,0.033691406,0.01940918,0.032470703,0.041992188,0.020263672,0.07714844,0.021118164,0.032470703,0.026489258,0.045654297,0.045166016,0.00680542,0.011169434,0.03955078,0.018798828,0.03564453,0.033203125,0.015563965,0.008850098,0.01940918,0.063964844,0.021606445,0.028198242,0.006225586,0.018310547,0.033447266,0.04248047,0.0234375,0.040039062,0.049316406,0.012268066,0.02709961,0.053222656,0.040771484,0.021972656,0.015197754,0.013366699,0.01977539,0.034179688,0.040771484,0.0239[...]
