---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/explain?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","hosting":"aleph-alpha","prompt":"An apple
        a day","target":"string","control_factor":0.1,"contextual_control_threshold":0,"control_log_additive":true,"postprocessing":"none","normalize":false,"prompt_granularity":{"type":"token","delimiter":"string"},"target_granularity":"complete","control_token_overlap":"partial"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"model_version":"2022-04","explanations":[{"target":"string","items":[{"type":"text","scores":[{"start":0,"length":2,"score":-3.3250122},{"start":3,"length":5,"score":1.9274826},{"start":9,"length":1,"score":-3.4718266},{"start":11,"length":3,"score":-5.4066296}]},{"type":"target","scores":[]}]}]}'
  recorded_at: Sun, 03 Dec 2023 12:55:06 GMT
recorded_with: VCR 6.1.0
