---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/semantic_embed?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","prompt":"An apple a day keeps the doctor
        away.","representation":"symmetric","compress_to_size":128}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"model_version":"2022-04","embedding":[-3.640625,3.203125,-5.75,-2.328125,-4.40625,1.8203125,-0.5390625,-1.765625,-0.79296875,-0.61328125,2.03125,-1.515625,-4.0625,4.0,-1.0078125,-0.98046875,-0.8515625,-3.53125,-0.018188477,3.046875,-1.046875,-1.03125,1.7890625,-2.890625,-2.25,1.0234375,0.671875,-1.4375,-1.7109375,-1.0234375,-0.9765625,1.0703125,-4.6875,-0.123046875,-1.375,1.25,3.546875,0.86328125,0.33398438,-1.09375,-4.0,-0.61328125,0.76171875,-1.9765625,0.99609375,-5.21875,1.7265625,-1.3359375,0.13476562,1.2890625,5.46875,2.03125,2.25,5.8125,-6.09375,2.203125,0.19042969,1.015625,-4.40625,-4.28125,0.38476562,-1.109375,1.0859375,3.484375,3.21875,-0.70703125,-5.5,-1.8515625,2.765625,2.703125,2.890625,-2.703125,-2.734375,-1.0625,-0.78125,1.4765625,5.625,1.4765625,2.3125,-2.515625,0.32617188,-1.5625,0.62890625,-2.03125,-2.84375,-1.4921875,0.07421875,0.74609375,-2.125,1.2265625,-0.13476562,4.96875,-3.390625,0.41601562,2.421875,1.796875,4.375,-3.453125,2.046875,0.87890625,2.09375,0.80078125,1.1484375,-0.10498047,4.9375,-5.78125,4.3125,-2.421875,1.3046875,2.390625,-0.16992188,2.703125,-0.03149414,-0.31640625,-2.453125,-3.625,0.19140625,-2.859375,-1.0078125,0.9453125,-1.6953125,-1.390625,-1.21875,-1.03125,-5.5,2.828125,3.4375,-0.3203125]}'
  recorded_at: Sun, 03 Dec 2023 12:55:10 GMT
recorded_with: VCR 6.1.0
