---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/detokenize
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","token_ids":[556,48741,247,2983,28063,301,10510,5469,17]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":" An apple a day keeps the doctor away."}'
  recorded_at: Fri, 01 Mar 2024 11:53:30 GMT
recorded_with: VCR 6.2.0
