---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/evaluate?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","prompt":"An apple a day","completion_expected":"keeps
        the doctor away."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"model_version":"2022-04","result":{"log_probability":-12.278221,"log_perplexity":12.278221,"log_perplexity_per_token":2.0463703,"log_perplexity_per_character":0.55810094,"correct_greedy":false,"token_count":6,"character_count":22,"completion":"
        keepseps the doctor away."},"num_tokens_prompt_total":10}'
  recorded_at: Fri, 01 Mar 2024 11:53:30 GMT
recorded_with: VCR 6.2.0
