---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/evaluate?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","prompt":"An apple a day","completion_expected":"keeps
        the doctor away."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"model_version":"2022-04","result":{"log_probability":-12.276108,"log_perplexity":12.276108,"log_perplexity_per_token":2.046018,"log_perplexity_per_character":0.5580049,"correct_greedy":false,"token_count":6,"character_count":22,"completion":"
        keepseps the doctor away."}}'
  recorded_at: Sun, 03 Dec 2023 12:55:06 GMT
recorded_with: VCR 6.1.0
