---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/explain?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","hosting":"aleph-alpha","prompt":"An apple
        a day","target":"string","control_factor":0.1,"contextual_control_threshold":0,"control_log_additive":true,"postprocessing":"none","normalize":false,"prompt_granularity":{"type":"token","delimiter":"string"},"target_granularity":"complete","control_token_overlap":"partial"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"model_version":"2022-04","explanations":[{"target":"string","items":[{"type":"text","scores":[{"start":0,"length":2,"score":-3.2240639},{"start":3,"length":5,"score":2.1853542},{"start":9,"length":1,"score":-3.4108124},{"start":11,"length":3,"score":-5.3148403}]},{"type":"target","scores":[]}]}]}'
  recorded_at: Fri, 01 Mar 2024 11:53:30 GMT
recorded_with: VCR 6.2.0
