---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/semantic_embed?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","prompt":"An apple a day keeps the doctor
        away.","representation":"symmetric","compress_to_size":128}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPHALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"model_version":"2023-05","embedding":[-3.640625,3.1875,-5.71875,-2.265625,-4.40625,1.828125,-0.51953125,-1.7734375,-0.8125,-0.60546875,2.0625,-1.484375,-4.03125,3.96875,-1.015625,-0.984375,-0.8515625,-3.515625,-0.020141602,3.0625,-1.0859375,-1.046875,1.7890625,-2.890625,-2.21875,1.0078125,0.66015625,-1.421875,-1.6875,-1.03125,-0.953125,1.109375,-4.6875,-0.10253906,-1.375,1.2578125,3.546875,0.84765625,0.359375,-1.109375,-4.0,-0.61328125,0.734375,-1.9375,1.015625,-5.21875,1.71875,-1.359375,0.12402344,1.3125,5.46875,2.0,2.28125,5.78125,-6.0625,2.25,0.22460938,1.015625,-4.40625,-4.25,0.34960938,-1.125,1.09375,3.46875,3.21875,-0.68359375,-5.5,-1.8203125,2.703125,2.6875,2.875,-2.734375,-2.71875,-1.0390625,-0.7421875,1.46875,5.59375,1.4453125,2.296875,-2.515625,0.31054688,-1.5859375,0.62890625,-2.046875,-2.828125,-1.4921875,0.09033203,0.75,-2.109375,1.2109375,-0.16113281,4.96875,-3.390625,0.44726562,2.421875,1.828125,4.375,-3.453125,2.0625,0.87109375,2.15625,0.77734375,1.15625,-0.12695312,4.96875,-5.8125,4.28125,-2.4375,1.28125,2.40625,-0.18847656,2.703125,-0.0005455017,-0.26367188,-2.484375,-3.609375,0.20800781,-2.84375,-1.0078125,0.93359375,-1.65625,-1.375,-1.25,-1.03125,-5.46875,2.796875,3.421875,-0.3515625]}'
  recorded_at: Sat, 10 Jun 2023 13:30:12 GMT
recorded_with: VCR 6.1.0
