---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/summarize?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","document":{"text":"The gray wolf (Canis lupus)
        is a species of placental mammal of the carnivore order. The earliest fossil
        record dates back eight hundred thousand years. Wolves are native to North
        America and Eurasia, where they were once widely distributed and abundant.
        Today, they inhabit only a very limited portion of their former territory."}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"model_version":"2022-05","summary":"Wolves are native to North America
        and Eurasia, where they were once widely distributed and abundant. Today,
        they inhabit only a very limited portion of their former territory."}'
  recorded_at: Sun, 03 Dec 2023 12:55:12 GMT
recorded_with: VCR 6.1.0
