---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/evaluate?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","prompt":"An apple a day","completion_expected":"keeps
        the doctor away."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPHALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"model_version":"2023-05","result":{"log_probability":-12.283151,"log_perplexity":12.283151,"log_perplexity_per_token":2.0471919,"log_perplexity_per_character":0.55832505,"correct_greedy":false,"token_count":6,"character_count":22,"completion":"
        keepseps the doctor away."}}'
  recorded_at: Sat, 10 Jun 2023 13:30:09 GMT
recorded_with: VCR 6.1.0
