---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/explain?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","hosting":"aleph-alpha","prompt":"An apple
        a day","target":"string","control_factor":0.1,"contextual_control_threshold":0,"control_log_additive":true,"postprocessing":"none","normalize":false,"prompt_granularity":{"type":"token","delimiter":"string"},"target_granularity":"complete","control_token_overlap":"partial"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPHALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"model_version":"2023-05","explanations":[{"target":"string","items":[{"type":"text","scores":[{"start":0,"length":2,"score":-3.280653},{"start":3,"length":5,"score":2.0785313},{"start":9,"length":1,"score":-3.46945},{"start":11,"length":3,"score":-5.3589964}]},{"type":"target","scores":[]}]}]}'
  recorded_at: Sat, 10 Jun 2023 13:30:09 GMT
recorded_with: VCR 6.1.0
