---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/semantic_embed?nice=false
    body:
      encoding: UTF-8
      string: '{"model":"luminous-base","prompt":"An apple a day keeps the doctor
        away.","representation":"symmetric","compress_to_size":128}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"model_version":"2022-04","embedding":[-3.640625,3.1875,-5.71875,-2.265625,-4.40625,1.8046875,-0.55078125,-1.8046875,-0.796875,-0.60546875,2.046875,-1.53125,-4.0625,3.96875,-1.0859375,-0.99609375,-0.84765625,-3.53125,-0.02746582,3.0625,-1.0625,-1.0390625,1.8203125,-2.90625,-2.203125,1.046875,0.68359375,-1.4453125,-1.7109375,-1.0390625,-0.97265625,1.078125,-4.71875,-0.1328125,-1.359375,1.2734375,3.53125,0.8671875,0.34179688,-1.0703125,-4.0,-0.6171875,0.703125,-1.9453125,0.98046875,-5.21875,1.7265625,-1.3203125,0.12792969,1.2890625,5.5,2.03125,2.265625,5.78125,-6.09375,2.21875,0.15820312,1.0,-4.4375,-4.28125,0.38867188,-1.109375,1.1015625,3.484375,3.1875,-0.68359375,-5.5,-1.8125,2.734375,2.703125,2.90625,-2.71875,-2.71875,-1.0546875,-0.796875,1.4765625,5.625,1.4140625,2.3125,-2.53125,0.3203125,-1.5625,0.62109375,-2.0,-2.84375,-1.484375,0.08105469,0.7890625,-2.09375,1.1875,-0.115722656,4.96875,-3.421875,0.47070312,2.40625,1.765625,4.375,-3.4375,2.015625,0.86328125,2.140625,0.8203125,1.109375,-0.09472656,4.96875,-5.8125,4.3125,-2.421875,1.28125,2.390625,-0.1796875,2.6875,0.033691406,-0.28710938,-2.453125,-3.59375,0.18652344,-2.859375,-0.99609375,0.90234375,-1.65625,-1.40625,-1.2421875,-1.046875,-5.46875,2.796875,3.421875,-0.35351562],"num_tokens_prompt_total":9}'
  recorded_at: Fri, 01 Mar 2024 11:53:34 GMT
recorded_with: VCR 6.2.0
