---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/qa?nice=false
    body:
      encoding: UTF-8
      string: '{"query":"When did wolves first appear?","documents":[{"text":"The
        gray wolf (Canis lupus) is a species of placental mammal of the carnivore
        order. The earliest fossil record dates back eight hundred thousand years.
        Wolves are native to North America and Eurasia, where they were once widely
        distributed and abundant. Today, they inhabit only a very limited portion
        of their former territory."}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"model_version":"2022-08","answers":[{"answer":"Wolves first appeared
        eight hundred thousand years ago.","score":0.78180957,"evidence":"The gray
        wolf (Canis lupus) is a species of placental mammal of the carnivore order.
        The earliest fossil record dates back eight hundred thousand years. Wolves
        are native to North America and Eurasia, where they were once widely distributed
        and abundant. Today, they inhabit only a very limited portion of their former
        territory."}]}'
  recorded_at: Fri, 01 Mar 2024 11:53:34 GMT
recorded_with: VCR 6.2.0
