---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/users/me/tokens
    body:
      encoding: UTF-8
      string: '{"description":"token used on my laptop"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPHALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"token_id":2035,"description":"token used on my laptop"},"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo3MjY3LCJ0b2tlbl9pZCI6MjAzNX0.5gJPEBhwPm5WEC_KDG4Thw5z7NppXwBEpNaU7boRMMs"}'
  recorded_at: Sat, 10 Jun 2023 13:30:14 GMT
recorded_with: VCR 6.1.0
