---
http_interactions:
- request:
    method: post
    uri: https://api.aleph-alpha.com/users/me/tokens
    body:
      encoding: UTF-8
      string: '{"description":"token used on my laptop"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPHALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"token_id":1784,"description":"token used on my laptop"},"token":"some-token"}'
  recorded_at: Sun, 21 May 2023 19:44:24 GMT
recorded_with: VCR 6.1.0
