---
http_interactions:
- request:
    method: get
    uri: https://api.aleph-alpha.com/users/me/requests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPHALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"create_timestamp":"2023-06-10T13:30:14.133677Z","model_name":"luminous-extended","request_type":"summarization","token_count_prompt":67,"image_count_prompt":0,"token_count_completion":27,"duration_millis":1467,"credits":0.0056583},{"create_timestamp":"2023-06-10T13:30:12.572717Z","model_name":"luminous-base","request_type":"embedding","token_count_prompt":9,"image_count_prompt":0,"token_count_completion":0,"duration_millis":67,"credits":0.000351},{"create_timestamp":"2023-06-10T13:30:12.413980Z","model_name":"luminous-supreme","request_type":"qa","token_count_prompt":73,"image_count_prompt":0,"token_count_completion":13,"duration_millis":2814,"credits":0.0198614},{"create_timestamp":"2023-06-10T13:30:09.347137Z[...]
