---
http_interactions:
- request:
    method: patch
    uri: https://api.aleph-alpha.com/users/me
    body:
      encoding: UTF-8
      string: '{"out_of_credits_threshold":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":1234,"email":"test@example.com","role":"Client","token":null,"credits_remaining":"45.6912478","invoice_allowed":false,"out_of_credits_threshold":"0","terms_of_service_version":"generic-2022-02-18"}'
  recorded_at: Fri, 01 Mar 2024 11:53:37 GMT
recorded_with: VCR 6.2.0
