---
http_interactions:
- request:
    method: get
    uri: https://api.aleph-alpha.com/users/me/requests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"create_timestamp":"2023-10-29T21:17:00.186453Z","model_name":"luminous-base","request_type":"tokenization","token_count_prompt":9,"image_count_prompt":0,"token_count_completion":0,"duration_millis":0,"credits":0.0002025},{"create_timestamp":"2023-10-29T21:17:00.061308Z","model_name":"luminous-extended","request_type":"summarization","token_count_prompt":67,"image_count_prompt":0,"token_count_completion":35,"duration_millis":1876,"credits":0.0061735},{"create_timestamp":"2023-10-29T21:16:58.055973Z","model_name":"luminous-base","request_type":"embedding","token_count_prompt":9,"image_count_prompt":0,"token_count_completion":0,"duration_millis":54,"credits":0.000351},{"create_timestamp":"2023-10-29T21:1[...]
