---
http_interactions:
- request:
    method: get
    uri: https://api.aleph-alpha.com/users/me/requests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"create_timestamp":"2024-03-01T11:53:36.228150Z","model_name":"luminous-base","request_type":"tokenization","token_count_prompt":9,"image_count_prompt":0,"token_count_completion":0,"duration_millis":0,"credits":0.0002025},{"create_timestamp":"2024-03-01T11:53:36.124771Z","model_name":"luminous-extended","request_type":"summarization","token_count_prompt":67,"image_count_prompt":0,"token_count_completion":27,"duration_millis":1664,"credits":0.0056583},{"create_timestamp":"2024-03-01T11:53:34.349952Z","model_name":"luminous-base","request_type":"embedding","token_count_prompt":9,"image_count_prompt":0,"token_count_completion":0,"duration_millis":40,"credits":0.000351},{"create_timestamp":"2024-03-01T11:5[...]
