---
http_interactions:
- request:
    method: get
    uri: https://api.aleph-alpha.com/users/me/requests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPHALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"create_timestamp":"2023-05-21T19:44:24.781979Z","model_name":"luminous-base","request_type":"embedding","token_count_prompt":9,"image_count_prompt":0,"token_count_completion":0,"duration_millis":52,"credits":0.000351},{"create_timestamp":"2023-05-21T19:44:24.539415Z","model_name":"luminous-base","request_type":"evaluation","token_count_prompt":4,"image_count_prompt":0,"token_count_completion":6,"duration_millis":44,"credits":0.0003498},{"create_timestamp":"2023-05-21T19:44:24.275741Z","model_name":"luminous-base","request_type":"embedding","token_count_prompt":9,"image_count_prompt":0,"token_count_completion":0,"duration_millis":62,"credits":0.000351},{"create_timestamp":"2023-05-21T19:44:24.120280Z[...]
