---
http_interactions:
- request:
    method: get
    uri: https://api.aleph-alpha.com/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPH_ALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":7267,"email":"korth.sascha@gmail.com","role":"Client","token":null,"credits_remaining":"46.3549437","invoice_allowed":false,"out_of_credits_threshold":"0","terms_of_service_version":"generic-2022-02-18"}'
  recorded_at: Sun, 03 Dec 2023 12:55:12 GMT
recorded_with: VCR 6.1.0
