---
http_interactions:
- request:
    method: patch
    uri: https://api.aleph-alpha.com/users/me
    body:
      encoding: UTF-8
      string: '{"out_of_credits_threshold":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ALEPHALPHA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":7267,"email":"korth.sascha@gmail.com","role":"Client","token":null,"credits_remaining":"49.518171","invoice_allowed":false,"out_of_credits_threshold":"0","terms_of_service_version":"generic-2022-02-18"}'
  recorded_at: Sat, 10 Jun 2023 13:30:18 GMT
recorded_with: VCR 6.1.0
